<div class="bg-gray-900 py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <!-- text - start -->
    <div class="sm:px-12 dark:bg-gray-900 dark:text-gray-100">
      <img src="assets\edwin.jpg" alt="" class="h-24 m-auto rounded-full dark:bg-gray-500 aspect-square" />
      <div class="space-y-4 text-center divide-y divide-gray-700">
        <div class="my-2 space-y-1">
          <h2 class="text-xl font-semibold sm:text-2xl">Edwin Andrey Gaviria Ovejero</h2>
          <p class="px-5 text-xs sm:text-base dark:text-gray-400">
            Full-Stack Developer
          </p>
        </div>
        <div class="text-center justify-content-center md:mx-[50px] md:flex-row md:justify-content-center">
          <div class="text-center justify-content-center text-lg md:space-x-1">
            <a class="w-9 h-9 pt-1  inline-block border-1 rounded-lg text-white bg-blue-500 hover:bg-white hover:text-blue-500"
              href="https://www.linkedin.com/in/edwin-andrey-gaviria-023685195/" target="_blank">
              <li class="fa fa-linkedin"></li>
            </a>
            <a class="w-9 h-9 pt-1 m-2 inline-block border-1 rounded-lg text-white bg-indigo-500 hover:bg-white hover:text-indigo-500"
              href="https://github.com/Edwingaviria" target="_blank">
              <li class="fa fa-github"></li>
            </a>
            <a class="w-9 h-9 pt-1 inline-block border-1 rounded-lg text-white bg-red-500 hover:bg-white hover:text-red-500"
              href="mailto:edwingaviria96@gmail.com" target="_blank">
              <li class="fa fa-envelope"></li>
            </a>
          </div>
        </div>
      </div>
      <section class="dark:bg-gray-900 dark:text-gray-100">
        <div class="container max-w-5xl px-4 py-12 mx-auto">
          <div class="grid gap-4 mx-4 sm:grid-cols-12">
            <div class="col-span-12 sm:col-span-3">
              <div
                class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:dark:bg-sky-400">
                <h3 class="text-3xl font-semibold">Education</h3>
                <span class="text-sm font-bold tracki uppercase dark:text-gray-400">Academic</span>
              </div>
            </div>
            <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
              <div
                class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-gray-700">
                <div *ngFor="let education of educations"
                  class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-sky-400">
                  <img style="height: auto;width:100px;" src="{{education['logo']}}" alt="Logo" class="logo">
                  <h3 class="text-xl font-semibold tracki">{{education.tittle}}</h3>
                  <time class="text-xs tracki uppercase dark:text-gray-400">{{education.finishDate}}</time>
                  <p class="mt-3">{{education.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="dark:bg-gray-900 dark:text-gray-100">
        <div class="container max-w-5xl px-4 py-12 mx-auto">
          <div class="grid gap-4 mx-4 sm:grid-cols-12">
            <div class="col-span-12 sm:col-span-3">
              <div
                class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:dark:bg-sky-400">
                <h3 class="text-3xl font-semibold">Experience</h3>
                <span class="text-sm font-bold tracki uppercase dark:text-gray-400">Jobs</span>
              </div>
            </div>
            <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
              <div
                class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-gray-700">
                <div *ngFor="let experience of experiences"
                  class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-sky-400">
                  <img style="height: auto;width:100px;"  src="{{experience['logo']}}" alt="Logo" class="logo">
                  <h3 class="text-xl font-semibold tracki">{{experience.tittle}}</h3>
                  <time class="text-xs tracki uppercase dark:text-gray-400">{{experience.finishDate}}</time>
                  <p class="mt-3">{{experience.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
