<footer class="text-gray-400 bg-gray-800 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium align-items-end md:justify-content-end justify-content-end text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
        viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Edwin Gaviria</span>
    </a>
    <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-2">
      © 2023 Edwin Gaviria
    </p>
    <!-- Social Media -->
    <div class="flex justify-content-end">
      <div class="bg-dark  w-full md:max-w-7xl">
        <div class="flex flex-col justify-content-end md:mx-[50px] md:flex-row md:justify-content-end">
          <div class="text-center text-lg md:space-x-1">
            <a class="w-9 h-9  pt-1  inline-block border-1 rounded-lg text-white bg-blue-500 hover:bg-white hover:text-blue-500"
              href="https://www.linkedin.com/in/edwin-andrey-gaviria-023685195/" target="_blank">
              <li class="fa fa-linkedin"></li>
            </a>
            <a class="w-9 h-9 pt-1 m-2 inline-block border-1 rounded-lg text-white bg-indigo-500 hover:bg-white hover:text-indigo-500"
            href="https://github.com/Edwingaviria" target="_blank">
              <li class="fa fa-github"></li>
            </a>
            <a class="w-9 h-9 pt-1 inline-block border-1 rounded-lg text-white bg-red-500 hover:bg-white hover:text-red-500"
            href="mailto:edwingaviria96@gmail.com" target="_blank">
              <li class="fa fa-envelope"></li>
            </a>
          </div>
        </div>


      </div>
    </div>

  </div>
</footer>
